/*= ОБЩИЕ СТИЛИ
	--------------------------------------------------------*/
body {
    background: #efefef;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    min-height:100%;
}

a {
    color: #007bff;
    font-weight: 400;
}

h3 {
    color: #5F9EA0;
    font-weight: 500;
}


.mlogin {
    margin: 100px auto 0;
}

.mregister {
    margin: 80px auto 0;
}

.mrecovery {
    margin: 80px auto 0;
}

.mnewpassword {
    margin: 80px auto 0;
}

.mindex {
    margin: 30px auto 0;
}

.error {
    margin: 40px auto 0;
    border: 1px solid #000000;
    padding: 3px;
    color: #000000;
    text-align: center;
    width: 650px;
    background: #ff033e;
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}

.footer {
    background-color: #231f20;
    left: 0; bottom: 0;
    color: #777;
    text-align: center;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.header {
    margin: 0 auto;
    padding: 0;
    top: 0;
    width: 100%;
    background: #231f20;
    height: 80px;
    display: flex;
}


/*= КОНТЕЙНЕРЫ
--------------------------------------------------------*/

.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 550px;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

.container h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    border: 1px #777;
    margin-top: 13px;
    background: #5F9EA0;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

#recovery {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

#newpassword {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input, .container input[type=text], .container input[type=password], .container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #5F9EA0;
}

.hr {
    margin: 0;
    padding: 4px;
}
.hr li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

/*= КНОПКИ
--------------------------------------------------------*/

.button {
    border: solid 1px #5F9EA0;
    background: #5F9EA0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius: 4px;
    moz-border-radius: 4px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}

.button:hover {
    background: #5F9EA0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.create_btn {
    text-decoration: none;
    padding: 7px 15px;
    background: #231f20;
    color: white;
    border: none;
    border-radius: 3px;
}

.delete_btn {
    text-decoration: none;
    padding: 3px;
    font-size: 10px;
    color: white;
    background: #C44737;
    border: none;
    border-radius: 5px;
}

.downloadBtn {
    text-decoration: none;
    padding: 4px;
    font-size: 10px;
    color: white;
    background: #231f20;
    border: none;
    border-radius: 5px;
}

.uploadBtn {
    text-decoration: none;
    padding: 7px 15px;
    background: #231f20;
    color: white;
    border: none;
    border-radius: 3px;
}

.line {
    display: inline;
}